body {
    background-color: #cccccc;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* header */

.wrapper {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 40px;
}

.nav {
    display: flex;
    list-style-type: none;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;

}

.nav>li>a {
    color: #333333;
}

.nav>li {
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}

.nav>li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.nav>li::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #333333;
    position: absolute;
    left: 0;
}

.nav>li:first-child::before {
    display: none;
}

/* banner */

.banner {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 214px;
    padding-bottom: 285px;

}

.pizza {
    position: absolute;
    right: 0;
    top: -230px;
}

.title {
    font-style: 50px;
    margin-bottom: 23px;

}

.descroption {
    font-style: 25px;
    line-height: 30px;
    max-width: 570px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 23px;
    margin-top: 0;
}

.btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    border: 2px solid #fff;
    padding: 16px;
    max-width: 190px;
    text-align: center;
}

/* page */

.page {
    padding-top: 120px;
    padding-bottom: 94px;
}

.h2 {
    font-size: 45px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-right: 127px;
    padding-left: 127px;
    margin-bottom: 20px;

}

.h2::before,
.h2::after {
    content: '';
    position: absolute;
    background-image: url(../img/item.png);
    display: block;
    width: 102px;
    height: 28px;
    top: calc(50% - 14px);
}

.h2::before {
    left: 0;
}

.h2::after {
    right: 0;
}

.center {
    text-align: center;
}

.h2+p {

    color: #959595;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 42px;
    margin-bottom: 65px;
}

.menu>li {
    padding-left: 15px;
    padding-right: 20px;
    position: relative;
}

.menu>li>a {
    text-decoration: none;
    color: #494848;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.menu>li::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #333333;
    position: absolute;
    left: 0;
}

.menu>li:first-child::before {
    display: none;
}

.menu>li>a.active {
    border-bottom: 4px solid #ee252d;
    position: relative;
}

.menu>li>a.active::before {
    content: '';
    position: absolute;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #ee252d;
}

.box {
    background-color: #fff;
    box-shadow: 0px 0px 10px opx rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.number {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 900;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

.number::after {
    content: '';
    display: block;
    position: absolute;


}

.number-one::after {
    content: '';
    background-image: url(../img/icon.png);
    width: 126px;
    height: 71px;
    left: 69px;
    top: calc(50% - 35px);
}

.number-two::after {
    content: '';
    background-image: url(../img/icon_1.png);
    width: 184px;
    height: 81px;
    left: 88px;
    top: calc(50% - 40px);
}

.number-three::after {
    content: '';
    background-image: url(../img/icon_2.png);
    width: 142px;
    height: 68px;
    left: 94px;
    top: calc(50% - 34px);
}

.box-text {
    border-right: 1px solid #eaeaea;
    padding-right: 55px;
}

.box-items:last-child .boxt-text {
    border-right: none;
}


.box-items {
    padding: 64px 0 58px 55px;
    box-sizing: content-box;
}


.box-text h3 {
    font-size: 45px;
    color: #282828;
    margin-bottom: 23px;

}

.box-text p {
    font-size: 17px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    margin-top: 0;
}

.btn-start {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    background-image: url(../img/button.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 29px 58px;
}

/* footer */

.footer {
    background-image: url(../img/footer.png);
    padding: 44px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* media */

@media (max-width: 1200px) {
    .wrapper {
        max-width: 800px;
    }

    .pizza {
        display: none;
    }

    .banner {
        padding-top: 76px;
        padding-bottom: 100px;
    }

    .h2,
    .box-text h3 {
        font-size: 35px;
    }

    .h2+p {
        font-style: 18px;
    }

    .menu>li {
        padding-left: 15px;
        padding-right: 15px;
    }

    .box {
        flex-direction: column;
    }

    .box-text {
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 30px;
    }

    .box-items {
        padding: 30px 55px 24px 55px;
    }

    .box-items:last-child .boxt-text {
        border-bottom: none;
    }
}

@media (max-width: 800px) {
    .navigation {
        flex-direction: column;

    }

    .nav {
        margin-top: 34px;
    }

    .h2::before,
    .h2::after {
        display: none;
    }

    .btn-start {
        font-style: 20px;
        background-size: contain;
    }

    .footer {
        background-image: url(../img/footer.png);
        padding: 13px 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .nav>li {
        font-size: 10px;
        padding-left: 10px;
        margin-left: 10px;
        position: relative;
    }

    .menu>li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu>li>a {
        font-size: 10px;
    }

    .btn-start {
        background-image: none;
        font-size: 20px;
        border: 2px solid #fff;
        padding: 16px;
        max-width: 190px;
        text-align: center;
        background-color: #ee252d;
    }

    .menu>li::before {
        display: none;
    }

}

@media (max-width: 380px){
    .menu>li>a {
        font-size: 5px;
    }
    .h2,
    .box-text h3 {
        font-size: 20px;
    }
    .number-one::after{
        display: none;
    }
    .number-two::after{
        display: none;
    }
    .number-three::after{
        display: none;
    }
}

@media (max-width: 320px) {
    .nav>li {
        font-size: 5px;
        padding-left: 5px;
        margin-left: 5px;
        position: relative;
    }

    

    .btn {
        color: #fff;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 800;
        border: 2px solid #fff;
        padding: 10px;
        max-width: 190px;
        text-align: center;
    }

    .menu>li {
        padding-left: 5px;
        padding-right: 5px;
    }

  
}